.table {
    tr {
        th {
            border-color: #fff;
            border-bottom-color: #ddd;
            font-weight: normal;
            vertical-align: bottom;
        }
    }
}

.correct {
    color: #417505;
}