<div class="login">
  <div class="login-container">
      <div class="sign-in">SIGN IN</div>
      <form>
        <div class="form-group mb-4">
          <input type="text" name="username" class="form-control" [(ngModel)]="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
        </div>

        <div class="form-group mb-4">
          <input type="password" name="password" class="form-control" [(ngModel)]="password" id="exampleInputPassword1" placeholder="Password">
        </div>

        <!-- <div class="form-check d-flex justify-content-between align-items-center mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="remember" class="custom-control-input" [(ngModel)]="remember" id="customControlValidation1" required>
              <label class="custom-control-label" for="customControlValidation1">Remember me</label>
            </div>

            <div>
              <a href="#">Forgot pasword?</a>
            </div>
        </div> -->
        <div class="loading" *ngIf="loading">
          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div class="error" *ngIf="error">
          {{error}}
        </div>

        <button type="submit" class="btn btn-primary btn-submit" (click)="checkLogin()">Login</button>
      </form>
  </div>
</div>

