<section class="question-set-setup">
    <app-page-title [title]="pageTitle" [breadcrumb]="breadcrumb"></app-page-title>
    <div class="top-section">
        <div class="left-part">
            <button class="btn add-new" routerLink="/new-question-set">+ Add New Question Set</button>
        </div>
        <div class="right-part">
            <div class="search mr-3">
                <img src="assets/images/search.png">
                <input type="text" [(ngModel)]="txtSearch" (ngModelChange)="searchQuestionSet()" />
            </div>
        </div>
    </div>
    <div class="question-set-setup-content">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">
                            <strong>All Question Set : </strong>
                        </th>
                    </tr>
                    <tr>
                        <th>Set ID</th>
                        <th>Question Set Name</th>
                        <th>Questions</th>
                        <th>Default Set</th>
                        <th>Set States</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of listQuestionSet">
                        <td>{{item.setId}}</td>
                        <td>
                            <span *ngIf="item.questionList && item.questionList.length > 0">{{item.nameEn}}</span>
                            <span *ngIf="!item.questionList || (item.questionList && item.questionList.length == 0)" class="mark-red-empty-list">{{item.nameEn}}</span>
                        </td>
                        <td><span *ngFor="let q of item.questionList">{{q}}</span></td>
                        <td>{{item.defaultQuestionSet}}</td>
                        <td>{{item.states}}</td>
                        <td class="w-2 text-center">
                            <a (click)="deleteQuestionSet(item.id)" class="btn btn-edit">Del</a>
                        </td>
                        <td class="w-2 text-center">
                            <a (click)="editQuestionSet(item.id)" class="btn btn-edit">Edit</a>
                        </td>
                        <td class="w-2 text-center">
                            <a *ngIf="item.states=='enable'" (click)="updateQuestionSetStates(item.id, 'disable')" class="btn btn-edit">Disable</a>
                            <a *ngIf="item.states=='disable'" (click)="updateQuestionSetStates(item.id, 'enable')" class="btn btn-edit">Enable</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="paging">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="paging.total" [(page)]="paging.page" [pageSize]="paging.pageSize" [maxSize]="paging.maxSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </div>
    </div>

</section>