.dropdown {
    position: relative;
    z-index: 999;
    .selected {
        padding: 7px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative;
        color: #4a4a4a;
        &::after {
            content: '';
            border-top: 7px solid #bbbbbb;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }
    .dropdown-content {
        height: 120px !important;
        width: 100%;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        .ng-scrollbar-view {
            overflow: auto!important;
        }
        ul {
            max-height: 250px;
            li {
                padding: 5px 15px;
                display: flex;
                align-items: center;
                font-size: 13px;
                margin-bottom: 1px;
                &:last-child {
                    margin-bottom: 0px;
                }
                &:hover,
                &.item-active {
                    background: #f0f1f2;
                    color: #4d4d4d;
                }
            }
        }
        &.active {
            max-height: 250px;
            transition: all 0.2s ease-in-out;
            border-radius: 2px!important;
            box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.17)!important;
            background-color: #ffffff!important;
            border: solid 1px #e5e6e7!important;
        }
    }
}