.page-title {
    h3 {
        color: #4d4d4d;
        font-size: 20px;
        font-weight: 300;
        padding: 0px 34px;
        font-family: 'NotoSansDemiLight';
    }
    .bread {
        font-family: 'NotoSansLight';
        padding: 6px 34px;
        color: #4d4d4d;
        font-size: 12px;
        font-weight: 300;
        border-top: 1px solid #ddd;
        margin-top: 15px;
    }
}